/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Boilerplate //
@import "variables";
@import "mixins";

 *,
 *:before,
 *:after {
  box-sizing: border-box;
 }

 html,
 body {
  margin: 0;
  padding: 0;
 }

 html {
   font-family: 'Roboto', sans-serif;
   font-size: 62.5%;
   line-height: 1.5;
 }

 body {
   margin-top: 8rem;
   margin-bottom: 0;
 }

// Header //
header {
   position: fixed;
   background: white;
   top: 0;
   left: 0;
   right: 0;
   z-index: 999;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
 }

nav {
  font-size: 1.5rem;
  position: relative;
  display: block;
  height: 7rem;
  line-height: 7rem;
  h1 {
    display: inline;
    margin: 0 0 0 1rem;
    font-size: 3rem;
    border-top: 2.5px solid $highlight;
  }
  ul {
    margin: 0;
    position: absolute;
    top: 0;
    right: 2rem;
    li {
      padding: 0 1rem;
      display: inline-block;
      float: right;
      list-style: none;
      a {
        color: black;
        text-decoration: none;
      }
      a:hover{
        border-bottom: 0.2rem solid $highlight;
      }
    }
  }
}

// Flash //
.notice, .alert {
  margin-top: -1rem ;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.alert {
  border: 0.1rem solid #c12f2f;
  background: rgba(#c12f2f, 0.6);
}

.notice {
  border: 0.1rem solid #322fc1;
  background: rgba(#322fc1, 0.6);
}

// Main //
main {
  margin: 0 1.5rem;
}
