// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

h1 {
  font-size: 2.5rem;
  line-height: 2;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.product {
  display: inline-block;
  width: 45%;
  margin: 1rem;
  box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.2);
  .product_name {
    font-size: 1.8rem;
    line-height: 2;
    margin: 0 0 0.5rem 0;
    padding: 0 1rem;
    background-color: $highlight;
    color: white
  }
  .product_price {
    font-size: 1.4rem;
    margin: 0.5rem 0;
    padding: 0 2rem;
  }
  .poster {
    max-width: 100%;
    filter: grayscale(100);
  }
  .poster:hover {
    filter: grayscale(0);
  }
}

.poster {
  max-width: 50rem;
}

.new_review {
  font-size: 1.5rem;
}

.material-icons {
  font-family: "Material Icons";
  font-size: 2rem;
}

@media ( min-width: 1024px ) {
  .product{
    width: 23%;
  }

  .all_reviews {
    position: absolute;
    right: 0;
    left: 50%;
    top: 20rem;
  }
}
